<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hh.attendance.dao.LeaveMapper">
    <resultMap id="BaseResultMap" type="com.hh.attendance.pojo.Leave">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="stu_id" property="stuId" jdbcType="INTEGER"/>
        <result column="class_id" property="classId" jdbcType="INTEGER"/>
        <result column="leave_start" property="leaveStart" jdbcType="TIMESTAMP"/>
        <result column="leave_end" property="leaveEnd" jdbcType="TIMESTAMP"/>
        <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP"/>
        <result column="cause" property="cause" jdbcType="VARCHAR"/>
        <result column="approval_state" property="approvalState" jdbcType="INTEGER"/>
        <result column="approval_opinion" property="approvalOpinion" jdbcType="VARCHAR"/>
        <result column="approval_time" property="approvalTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, stu_id, class_id, leave_start, leave_end, creat_time, cause, approval_state, 
    approval_opinion, approval_time
  </sql>
    <insert id="insert">
        INSERT INTO `leave`(stu_id,class_id,leave_start,leave_end,creat_time,cause,approval_state,approval_opinion) VALUES (#{vo.stuId},#{vo.classId},#{vo.leaveStart},#{vo.leaveEnd},CURRENT_TIMESTAMP(3),#{vo.cause},#{vo.approvalState},#{vo.approvalOpinion})
    </insert>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from `leave`
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getLeavePage" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from `leave`
        where 1=1
        <if test="classId !=null">
            and class_id = #{classId,jdbcType=INTEGER}
        </if>
        <if test="approvalState != null">
            and approval_state = #{approvalState,jdbcType=VARCHAR}
        </if>
        <if test="studentId != null">
            and stu_id = #{studentId}
        </if>
        <if test="classIds !=null and classIds.size &gt; 0">
            and class_id in
            <foreach collection="classIds" item="classId" open="(" close=")" separator=",">
                #{classId}
            </foreach>
        </if>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
    delete from `leave`
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByStuId">
        delete from `leave` where stu_id = #{studentId,jdbcType=INTEGER}
    </delete>
    <update id="updateById" parameterType="com.hh.attendance.pojo.Leave">
    update `leave`
    set stu_id = #{stuId,jdbcType=INTEGER},
      class_id = #{classId,jdbcType=INTEGER},
      leave_start = #{leaveStart,jdbcType=TIMESTAMP},
      leave_end = #{leaveEnd,jdbcType=TIMESTAMP},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      cause = #{cause,jdbcType=VARCHAR},
      approval_state = #{approvalState,jdbcType=INTEGER},
      approval_opinion = #{approvalOpinion,jdbcType=VARCHAR},
      approval_time = #{approvalTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateApprovalStatus">
        update `leave`
        <set>
            <if test="approvalOpinion != null">
                approval_opinion = #{approvalOpinion},
            </if>
            approval_state = #{status},approval_time = CURRENT_TIMESTAMP(3)
        </set>
        <where>
            id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </update>
</mapper>