<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hh.attendance.dao.UserMapper">
    <resultMap id="UserMap" type="com.hh.attendance.pojo.User">
        <id property="id" column="id"/>
        <result property="userName" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="sex" column="sex"/>
        <result property="type" column="type"/>
        <result property="sno" column="sno"/>
    </resultMap>

    <select id="getUserById" resultMap="UserMap">
        select * from user where id = #{userId}
    </select>
    <select id="getUserByUserNameAndPassword" resultMap="UserMap">
        select * from user where username = #{username} and password = #{password}
    </select>
    <select id="listUserByType" resultMap="UserMap">
        select * from user where type = #{type}
    </select>
    <select id="getUserByPhone" resultMap="UserMap">
        select * from user where phone = #{phone}
    </select>
    <insert id="insert" keyProperty="vo.id" keyColumn="id" useGeneratedKeys="true">
        insert into user (username,password,name,phone,sex,type,sno) values (#{vo.userName},#{vo.password},#{vo.name},#{vo.phone},#{vo.sex},#{vo.type},#{vo.sno})
    </insert>
    <update id="updateById" parameterType="com.hh.attendance.pojo.User">
        update user set
            username = #{userName,jdbcType=VARCHAR},
            password = #{password,jdbcType=INTEGER},
            name = #{name,jdbcType=VARCHAR},
            phone = #{phone,jdbcType=VARCHAR},
            sex = #{sex},
            type = #{type,jdbcType=INTEGER},
            sno = #{sno,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from user
        where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>